@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');
*{
    font-family: 'Lato', sans-serif;
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}

.row{
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 10px;
}
.logo_img1{
    width: 200px;
}
.list_type{
  display: flex;
}

a{
color: rgb(36 62 99 );
text-decoration: none;
font-size: 16px;
padding-left: 46px;

}
.first_button{
    padding-left: 26px;
font-size: 24px;
font-weight: bold;
position: relative; bottom: 10px;
cursor: pointer;
}

.first_row{
    display: flex;
align-items: center;
padding-bottom: 48px;
}
.paragraph_container{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.first_para{
    font-size: 46px;
    font-weight: 900;
    line-height: 1.5;
  position: relative; bottom: 100px;
}

.second_para{
    font-size: 20px ;
font-weight: 200;
line-height: 1.5;
position: relative; bottom: 75px;
}

.first_img-1{
    width: 40%;
}

.img_review{
    width: 450px;
    position: relative; top: 60px;
}

.second-img-2{
    width: 60%;
}

.second_img-1{
    width: 745px;

}

.first_button-class{
    background-color:rgb(100 21 255) ;
    border-radius: 999px;
    border: none;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
}
.purple_text{
    color: rgb(100 21 255);
}

.btn-second{
background-color:rgb(100 21 255) ;
border-radius: 999px;
padding: 8px 16px;
border: none;
color: white;
position: absolute;
cursor: pointer;
}

input{
    width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}



/* FEATURES SECTION */

.container{
    padding: 80px 0;

}
.Features{
    text-align: center;
    font-size: 350;
    font-weight: 450;
    padding-bottom: 24px;
}

.features_second{
text-align: center;
font-size: 46px;
font-weight: 900;
color: rgb(36 62 99 );
padding-bottom: 24px;
}


.section_2-para{
    font-size: 18px;
    width: 100%;
    margin: 0 auto;
    color: rgb(124 139 161);
    line-height: 1.6;
    max-width: 36rem;
    padding-bottom: 36px;
}


.services_wrap{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}

.service-1{
  display: flex;
  width: calc(100%/3);
  padding: 24px;
}
.service_description{
 display: flex;  
 flex-direction: column;
}

.second_title{
 font-size: 24px;
   color:rgb(36 62 99 )  ;
   font-weight: 700;
   padding-bottom: 16px;
}

.description{
    font-size: 18px;
    color: rgb(124 139 161);
    line-height: 1.4;
    font-weight: 300;
}

.img-2{
    color: rgb(100 21 255); ;
}
i{
    height: 1.5rem;
    width: 1.5rem;
    max-width: 100%;
}

/* THIRD SECTION */


.section_three{
    display: flex;
    width: 60%;
}

.section_container_third{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.h2_third{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
    position: relative; bottom: 24px;
}

.third_header{
    font-size: 46px;
    font-weight: 1000;
    line-height: 1.5;
    color: rgb(36 62 99 ) ;
    position: relative; bottom: 20px;

}
.third_button{
background-color:rgb(100 21 255) ;
border: none;
color: white;
font-size: 14px;
font-weight: bold;
padding: 8px 16px;
cursor: pointer;
border-radius: 999px;
width: 35%;
height: 9%;
margin-top: 20px;
}
.third_para{
    color: rgb(124 139 161);
    line-height: 1.4;
font-size: 19px;
position: relative; bottom: 15px;
}

.third_img{
    width: 40%;
    position: relative; left: 100px;
}

.third_img-class{
    width:670px;
}

/* FOURTH SECTION */

.fourth_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    width: 100%;
    padding-bottom: 120px;
}
.fth_img{
    width:60%;
    position: relative; right: 48px;
}

.fth_img-class{
    width: 650px;
    height: 350px;
}

.steps_text{
    font-size: 18px;
    font-weight: 400;
    text-align: top left;
    position: relative; bottom: 40px;
}
.purple_text1{
    color: rgb(100 21 255);
}
.fourth_header{
    font-size: 46px;
    text-align: left;
    line-height: 1.3;
    position: relative; bottom: 36px;
    color: rgb(36 62 99 ) ;
}

.numbers_sec{
    color:rgb(124 139 161) ;
display: flex;

}

.numbers-position{
font-size: 35px;
padding-bottom: 14px;
text-align: left;
}

.numbers{
   display: flex;
   flex-direction: column;
    color: rgb(36 62 99 );
    padding-left: 20px;

}
.numbers_para{
    font-size: 18px;
    font-weight: 200;
    position: relative; left: 60px;
    line-height: 1.3;
    position: relative; bottom: 24px;
    color: rgb(113 128 150);
}


/* LAST SECTION */

.last_sec{
    text-align: center;
    font-size: 18px;
    padding: 16px 24px;
    padding-bottom: 30px;
}

.header_section-5{
   text-align: center;
   font-size: 50px;
color: rgb(36 62 99 ) ;
font-weight: bold;
}

.last_para{
    color: rgb(124 139 161);
    margin: 0 auto;
    font-size: 18px;
    width: 100%;
    line-height: 1.6;
    max-width: 36rem;
    padding: 24px 24px;
}

.plans{
    display: flex;
    flex-wrap: wrap;
   text-align: center;
   padding: 48px 48px;
   
}

.last_plan{
 position: relative; left: 75px;
 padding: 48px;
}

.personal_tagetting{
padding-top: 10px;
padding-bottom: 10px;
font-size: 30px;
font-weight: bold;
}

.backgroundclass{
    background-color:rgb(129, 230, 217) ;
}

.firt-last_price,.second_price{
    font-size: 26px;
font-weight: 1000;
padding-bottom: 4px;
}

.first-last-months{
    color: rgb(124 139 161);
}

.last-paragraphs-css{
    color: rgb(124 139 161);
  padding-bottom: 24px;
  padding-top: 24px;
  line-height: 1.7;
}

.button-container-51{
    padding-top: 14px;
    padding-bottom: 14px;
}
.button-container-5{
    padding-top: 24px;
    padding-bottom: 24px;
}

.first-last-months, .monthly_second{
    padding-bottom: 14px;
 
}

.individuals-class{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 26px;
    font-weight: bold;
    padding-top: 24px;
}

.second_price{
    position: relative; bottom: 20px;
}

.backgroundclass2{
    background-color:rgb(100 21 255) ;
border-top-left-radius: 10px;
border-top-right-radius:10px ;
}

.backgroundclass21{
    background-color:rgb(100 21 255) ;
}

.backgroundclass22{
    background-color:rgb(100 21 255) ;
}

.second_h1, .second_price,
.second-header, .monthly_second{
color: white;
}

.backgroundclass1{
    border-style: solid;
    border-radius:10px ;
    border-color: rgb(226, 232, 240);
}

.thing-borders{
    border-style: solid;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-color: rgb(129, 230, 217) ;
padding-top: 8px;
    background-color:rgb(129, 230, 217) ;
    box-sizing: border-box;
}

.boxeslolol{
    border-style: solid;
    border-color:  rgb(226, 232, 240);
    box-sizing: border-box;
    width: 100%;
}

.boxeslolol2{
    position: relative; bottom: 18px;
    border-style: solid;
    border-color:  rgb(226, 232, 240);
    box-sizing: border-box;
    width: 100%;
}
.boxeslolol27{
    position: relative; bottom: 0px;
    border-style: solid;
    border-color:  rgb(226, 232, 240);
    box-sizing: border-box;
    width: 100%;
}

.boxeslolol3{
    position: relative; bottom: 2px;
    border-style: solid;
    border-color:  rgb(226, 232, 240);
    box-sizing: border-box;
  }


.boxeslolol38{
    position: relative; top: 8px;
    border-style: solid;
    border-color:  rgb(226, 232, 240);
    box-sizing: border-box;
  }


.backgroundclass22{
box-sizing: border-box;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
    position: relative; bottom: 43px;
}

.second-header{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 26px;
    font-weight: bold;
    padding-top: 24px;
    position: relative; bottom: 22px;
    max-width: 100%;
}

.last-paragraphs-css2{
    color: white;
    padding-bottom: 24px;
    padding-top: 24px;
    line-height: 1.7;
    position: relative; bottom: 22px;
}

.second_h1{
    padding: 24px 24px;
    position: relative; bottom: 12px;
    color: ;
}

.monthly_second{
    position: relative; bottom: 16px;
}


.first_button-last{
    background-color: rgb(129, 230, 217);
   border-radius: 999px;
   padding: 8px 16px;
   color: white;
   font-size: 14px;
   cursor: pointer;
   border: none;
}

.second_button{
    color:white ;
    border-radius: 999px;
    padding: 8px 16px;
    color: rgb(100 21 255);
    font-size: 14px;
    cursor: pointer;
    border: none;
}
  

.third_button-sec3{
background-color: rgb(245, 101, 101);
padding: 8px 16px;
border-radius: 999px;
border-style: none;
color: white;
cursor: pointer;

}


.backgroundclass22{
    padding: 22px;
}

.red-border{
    border-style: solid;
    padding-top: 8px;
    border-color: rgb(245, 101, 101);
    background-color: rgb(245, 101, 101);
    box-sizing: border-box;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.background_lines21{
    border-style: solid;
    border-color:rgb(226, 232, 240) ;
border-top-left-radius:10px ;
border-top-right-radius:10px ;
border-bottom-right-radius:10px ;
border-bottom-left-radius:10px ;
}

/* FOOTER AND MAIN MENU */


.purple_background-five{
background-color: rgb(100 21 255); 
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 36px 40px;

}

.linkz-info-fith{
display: flex;
flex-direction: column;
width: calc(100%/5);
align-items: center;

}

.h5_class-color{
color: rgb(226, 232, 240);
font-size: 22px ;
padding-bottom: 24px;
position: relative; left: 22px;
}

.links-para-five{
    list-style-type: none;

  
}
.styling_five{
    color: rgb(226, 232, 240); 
    font-size: 14px;
    font-weight: thin;
}

.whity-para-lol{
color: rgb(203 213 224 ) ;
position: relative; right: 140px;

}

.footer_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-fith-img{
    width: 50px;
}

.h5_class-color-treat{
    color:rgb(203 213 224 ) ;
    font-size: 14px;
    font-weight: bold;
    position: relative; right: 245px;
}


/* RESPONSINESS */ 



@media (max-width: 768px) {

nav{
    height: 48px;
    position: relative; top: 40px;
}
.first_para{
font-size: 14px ;
}

.logo_img1{

}



.second_para{

}

}






@media (max-width: 768px) {
    nav{
        height: 68px;
    }
    h1{
        font-size: 28px;
    }
    .about_me-info-para{
        font-size: 18px;

    }
.language{
width: calc(100% / 3);
}
.project_description-para{
    font-size: 14px;
}

.project_description{
    left: 30px;
    padding-right: 30px;
}
}


@media (max-width:480px) {   
    .nav_link:not(:last-child) {
        display: none;
    }


    .project_description{
        padding: 0;
        left: 0;
        width: 100%;
    }
.project_description-para{
    display: none;

}
.project_description-links{
    display: flex;
    justify-content: center;
}
.project_description-title{
    line-height: 1;
    font-size: 32px;
    text-align: center;
}

.project_description-sub-title{
    text-align: center;
    margin: 12px 0;
}


}